---
layout: default
title: "Journal Archive"
permalink: "/archive.html"
---

<section id="one">
  <div class="container">
    <header class="major">
      <h2>{{ page.title }}</h2>
    </header>

    <section class="post-content">
        Welcome to the archive. Here you can find a full list of all of the journal entries we created while working on {{ site.project.title }}, ordered chronologically from newest to oldest.
    </section>


    <hr>
    {% for post in site.posts %}
      <article>
        <section class="excerpt">
          <header>
            <h3>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </h3>
          </header>
          {% if post.excerpt %}
            {{ post.excerpt }}
          {% else %}
            {{ post.content | truncatewords: 30 }}
          {% endif %}
        </section>

        <footer>
          <ul class="actions">
            <li>
              <a href="{{ post.url }}" class="button">Read More</a>
            </li>
          </ul>
        </footer>

        <div class="clear"></div>
      </article>
    {% endfor %}
  </div>
</section>
