<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <!-- <span class="image avatar"><img src="/images/logo-1-lg-contrast.png" alt="" /></span> -->
            <h1 id="logo"><a href="/">{{ site.title }}</a></h1>
            <!-- <p>{{ site.subtitle }}</p> -->
        </header>
        <nav id="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about.html">About</a></li>
                <li><a href="/journal">Journal</a></li>
                <li><a href="/design.html">Design</a></li>
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                <li><a href="https://github.com/5-Bit" class="icon fa-github"><span class="label">Github</span></a></li>
            </ul>
        </footer>
    </section>
